.ListBox {
  border-right: 1px solid var(--mb-color-border);
  height: 100%;
  min-width: 365px;
  background-color: var(--mb-color-bg-light);

  &:last-child {
    background-color: var(--mb-color-background);
  }
}

.singlePickerView {
  border-top: 1px solid var(--mb-color-border);
  flex-grow: 1;
  height: 0;
}
