.input {
  color: var(--mb-color-text-primary);
  background: var(--mb-colorbackground-primary);
  border-color: var(--mb-color-border);
}

.error {
  &::first-letter {
    text-transform: capitalize;
  }
}
